# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Encoding test files and tmp file
encoding/csv/.DS_Store
encoding/csv/001-csv-read/Export_parafile_201707251216_xN.csv
encoding/csv/002-csv-handle/002-csv-handle
encoding/csv/002-csv-handle/Export_parafile_201707251216_xN.csv
encoding/csv/003-csv-read-line/.DS_Store
encoding/csv/003-csv-read-line/output.csv
encoding/csv/003-csv-read-line/para.csv
encoding/csv/003-csv-read-line/result
encoding/csv/003-csv-read-line/result1
encoding/csv/003-csv-read-line/result2
encoding/csv/004-csv-line-sum/.DS_Store
encoding/csv/004-csv-line-sum/para.csv
encoding/csv/004-csv-line-sum/ret
encoding/csv/005-csv-line-head-parse/keys
encoding/csv/005-csv-line-head-parse/out
encoding/csv/005-csv-line-head-parse/para.csv
encoding/csv/006-csv-write-file/output.csv
encoding/csv/006-csv-write-file/result.csv
encoding/csv/007-csv-read-write/.DS_Store
encoding/csv/007-csv-read-write/input.csv
encoding/csv/007-csv-read-write/output.csv
encoding/csv/007-csv-read-write/para-input.csv
encoding/csv/007-csv-read-write/para-output.csv
encoding/csv/008-csv-colum-parse/008-csv-colum-parse
encoding/csv/008-csv-colum-parse/para-input.csv

# File test files
file/001-read-etc-hosts/hosts
file/004-file-fragment/testfile
file/006-file-readat/testfile
file/007-file-readat/testfile
file/009-file-mode/abc.txt
file/010-reading-file-in-chunks/file.txt
file/create-empty-file/
file/truncate-a-File/

# fmt test
fmt/001-fmt-scan/001-fmt-scan
fmt/004-fmt-print/build.sh
fmt/004-fmt-print/fmtprint

# net test
net/http/006-http-client-do-v1/.DS_Store
net/http/006-http-client-do-v1/006-http-client-do-v1
net/http/006-http-client-do-v2/.DS_Store
net/http/006-http-client-do-v2/006-http-client-do-v2

# os test
os/exec/003-exec-cmd-script/script.sh
os/exec/005-exec-ssh-run/005-exec-ssh-run
os/exec/006-exec-rsync-run/.DS_Store
os/exec/010-exec-cmd-ssh-ps/.DS_Store

# regexp
regexp/001-regexp-string-match/hosts
regexp/002-regexp-string-match/hosts
regexp/002-regexp-string-match/hosts.bal
regexp/003-regexp-string-match/hosts
regexp/003-regexp-string-match/hosts.bal

